<h1><%= @group.label.titleize %> Orders</h1>

<p><%= link_to 'New Order', new_group_order_path(@group), class: 'btn btn-success' %></p>

<table class="table table-striped">
  <thead> 
     <tr>
      <th>Order #</th>
      <th>Status</th>
      <th>Customer</th>
      <th></th>
      <th>Paid By</th>
      <th>Plants</th>
      <th>Total</th>
      <th>Paid</th>
      <th>Balance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.number, group_order_path(@group, order) %></td>
      <td><%= order.status %></td>
      <td><%= order.customer_name %></td>
      <td><%= number_to_phone order.customer_phone %></td>
      <td><%= order.payment_method %> <%= order.cheque_number %></td>
      <td><%= order.line_items.count %></td>
      <td class="money"><%= number_to_currency order.total %></td>
      <td class="money"><%= number_to_currency order.payment_amount %></td>
      <td class="money"><span class="balance"><%= number_to_currency order.balance %></span></td>
      <td>
        <%= link_to group_order_path(@group, order) do %>
          <i class="icon-search"></i>
        <% end %>
        <%= link_to edit_group_order_path(@group, order) do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to group_order_path(@group, order), confirm: 'Are you sure?', method: :delete do %>
          <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="money" colspan="6">Total</td>
      <td class="money"><%= number_to_currency(@orders.inject(0){|x, o| x + o.total }) %></td>
      <td colspan="3"></td>
    </tr>
  </tfoot>
</table>

<br />

