<h1>Orders</h1>

<p><%= link_to 'New Order', new_order_path %></p>

<table class="table table-striped">
  <thead> 
     <tr>
      <th>Order #</th>
      <th>Status</th>
      <th>Customer</th>
      <th></th>
      <th>Paid By</th>
      <th>Plants</th>
      <th>Total</th>
      <th>Paid</th>
      <th>Balance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @orders.each do |order| %>
  <tbody>
    <tr>
      <td><%= link_to order.id, order %></td>
      <td><%= order.status %></td>
      <td><%= order.customer_name %></td>
      <td><%= number_to_phone order.customer_phone %></td>
      <td><%= order.payment_method %> <%= order.cheque_number %></td>
      <td><%= order.line_items.count %></td>
      <td class="money"><%= number_to_currency order.total %></td>
      <td class="money"><%= number_to_currency order.payment_amount %></td>
      <td class="money"><span class="balance"><%= number_to_currency order.balance %></span></td>
      <td>
        <%= link_to order do %>
          <i class="icon-search"></i>
        <% end %>
        <%= link_to edit_order_path(order) do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to order, confirm: 'Are you sure?', method: :delete do %>
          <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
  </tbody>
<% end %>
  <tfoot>
    <tr>
      <td class="money" colspan="6">Total</td>
      <td class="money"><%= number_to_currency(@orders.inject(0){|x, o| x + o.total }) %></td>
    </tr>
  </tfoot>
</table>

<br />

