<p id="notice"><%= notice %></p>

<h3>
  Order #<%= @order.number %> &ndash; <%= @order.customer_name %> <%=number_to_phone @order.customer_phone %>
</h3>

<h4>
  <%= @order.payment_method %> <%= @order.cheque_number %>
</h4>


<%=form_for LineItem.new, {url: group_order_line_items_path(@group,@order)} do |f| %>
  <%= f.select :plant_id, options_from_collection_for_select(Plant.order(:name).active, "id", "for_select"), {}, {class: 'span5'} %>
  <%= f.text_field :quantity, class: 'span1' %>
  <%= f.submit 'Add', class: 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Plant</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.plant.name %></td>
        <td><%= number_to_currency(item.price/100.0) %></td>
        <td><%= item.quantity %></td>
        <td class="money"><%= number_to_currency(item.subtotal) %></td>
        <td><%= link_to 'Remove', group_order_line_item_path(@group, @order,item), confirm: 'Are you sure?', method: :delete %></td>
      </tr>    
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="money" colspan="3">Subtotal</td>
      <td class="money"><%= number_to_currency(@order.total) %></td>
      <td></td>
    </tr>
    <tr>
      <td class="money" colspan="3">Paid</td>
      <td class="money"><%= number_to_currency(@order.payment_amount) %></td>
      <td></td>
    </tr>
    <tr>
      <td class="money" colspan="3">Balance</td>
      <td class="money"><span class="balance"><%= number_to_currency(@order.balance) %></span></td>
      <td></td>
    </tr>
  </tfoot>
</table>


<%= link_to 'Edit', edit_group_order_path(@group,@order) %> |
<%= link_to 'Back', group_orders_path %>
