<h1>Plant Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plant.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@plant.price/100.0) %>
</p>

<p><strong>Open Orders</strong></p>

<table class="table">
  <thead> 
     <tr>
      <th>Order #</th>
      <th>Status</th>
      <th>Customer</th>
      <th></th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

<% @plant.orders.where(:status => 'open').each do |order| %>
  <tbody>
    <tr>
      <td><%= link_to order.id, order %></td>
      <td><%= order.status %></td>
      <td><%= order.customer_name %></td>
      <td><%= number_to_phone order.customer_phone %></td>
      <td><%= order.line_items.where(:plant_id => @plant.id).first.quantity %></td>
      <td><%= link_to image_tag('magnifier.png'), order %></td>
    </tr>
  </tbody>
<% end %>
</table>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back to List', plants_path %>
